include LICENSE ChangeLog HACKING
recursive-include libstemmer_c *
recursive-include sampledata *
recursive-include docs *
include src/Stemmer.pyx src/Stemmer.c
include benchmark.py makedist.sh MANIFEST.in runtests.py
